<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container" style="margin-top: 50px;">
  <hr>
   <div class="alert alert-info text-center" role="alert">
    <h1>Hello from WeatherSight</h1>
  </div>
</div>


</body>
</html>
